.home-page {
  margin-top: 30px;
  .profile-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;

    @media only screen and (max-width: 1000px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: 720px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .page-title {
    margin-bottom: 30px;
    text-align: center;
  }
}
